.faq-page {
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}
.faq-hero {
  height: 562px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-hero-content {
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

.faq-hero-content h1 {
  font-size: 50px;
  font-weight: 600;
  color: #000;
}

.faq-hero-content p {
  font-size: 20px;
  color: #090909;
  font-weight: 500;
  margin: 12px 0 24px;
}

.search-box {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.search-box input {
  flex: 1;
  border: none;
  padding: 12px 14px;
  font-size: 14px;
  outline: none;
}

.search-box button {
  background: #0b5ed7;
  border: none;
  color: #fff;
  padding: 0 18px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn {
  background: #0b5ed7;
  border: none;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn img {
  width: 18px;
  height: 18px;
  color: #fff;
}

.faq-content {
  display: flex;
  gap: 60px;
  padding: 60px 80px;
}

.faq-left {
  width: 35%;
  
}

.support-label {
  font-size: 14px;
  color: #0a0909;
}

.faq-left h2 {
  font-size: 28px;
  margin: 8px 0 12px;
}

.faq-left p {
  font-size: 14px;
  color: #101010;
  line-height: 1.6;
  font-weight: 550;
}

.faq-right {
  width: 65%;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.faq-item:hover {
  color: #0b5ed7;
}

.arrow {
  font-size: 18px;
  color: #090909;
  transform: rotate(-45deg)
}

@media (max-width: 768px) { 
  .faq-content {
    flex-direction: column;
    padding: 40px 20px;
  }

  .faq-left,
  .faq-right {
    width: 100%;
  }

  .faq-hero-content h1 {
    font-size: 28px;
  }
}
